---
- name: add firewalls
  block:
    - name: Ensure firewalld is installed
      package:
        name: firewalld

    - name: systemd start of firewalld
      systemd:
        state: started
        enabled: yes
        name: firewalld

    - name: Part of the trusted set of servers
      include: tasks/_firewall_trusted_network.yml
      when: trusted_host is defined and trusted_host == 'yes'

- name: opening firewall for port
  firewalld:
    service: "{{item}}"
    permanent: true
    state: enabled
    immediate: yes
    zone: public
  loop: "{{ports}}"






