---
- name: Create system groups
  become: true
  group:
    name: "{{ item.name }}"
    gid: "{{ item.gid }}"
  when: (item.group_names | intersect(group_names)|length) or
    (item.group_names[0] == 'all')
  with_items: "{{ system_groups }}"


- name: Create system users
  include: tasks/_system_users.yml user={{item}}
#  with_items: "{{ system_users }}"
  loop: "{{ system_users }}"




