[Unit]
Description=NGA Service
After=network.target

[Service]
Type=simple
User={{ nga_user }}
Group={{ nga_group }}
WorkingDirectory=/srv/nels-galaxy-api
TimeoutStartSec=10
EnvironmentFile=/srv/nels-galaxy-api/venv/bin/activate
ExecStart=/srv/nels-galaxy-api/venv/bin/python3 /srv/nels-galaxy-api/bin/nels-galaxy-api.py -c nga-prod-server.json -l nga.log -vvvEnvironment=HOME=/srv/nels-galaxy-api VIRTUAL_ENV=/srv/nels-galaxy-api/venv
Restart=always

[Install]
WantedBy=multi-user.target