rabbitmq_vhosts:
  - pulsar_nrec
  - pulsar_nmbu_orion
  - test
  - nels_galaxy

rabbitmq_users:
  - {name: admin,  vhost: '', 
     passwd: "{{admin_rabbitmq_password}}", tags: administrator}
  - {name: nrec_galaxy, vhost: pulsar_nrec,
     passwd: "{{rabbitmq_password_galaxy_nrec}}"}
  - {name: nmbu_galaxy, vhost: pulsar_nmbu_orion,
     passwd: "{{rabbitmq_password_galaxy_nmbu}}" }
  - {name: test, vhost: test, 
     passwd: "{{rabbitmq_password_galaxy_test}}" }
  - {name: telegraf, vhost: '', 
     passwd: "{{telegraf_rabbitmq_password}}", tags: monitoring }
  - {name: telegraf, vhost: '',
     passwd: "{{telegraf_rabbitmq_password}}", tags: monitoring }
  - {name: nels_galaxy, vhost: 'nels_galaxy',
     passwd: '{{rabbitmq_password_nels_galaxy_api}}'}

