
telegraf_passwd:  !vault |
  $ANSIBLE_VAULT;1.1;AES256
  61386562313735636533646438303638356234393962356161343961313033343066343535303833
  3538613339643935303764666236343032313461643237330a376364363734393432383361386132
  63386338636135666164636432313733386432373364393531303436653132353766323131393237
  6636383439353633340a393136333161393333646464633435393662626532653534646665353865
  3934


telegraf_agent_output:
  - type: influxdb
    config:
      - urls = ["https://maas-test.bioinfo.no/influx"]
      - database = "telegraf"
      - username = "admin"
      - password = "{{telegraf_passwd}}"

#example config, needs to be determined later on
telegraf_plugins_default:
  - plugin: disk
    interval: 12
    tags:
      - diskmetrics = "true"
    tagpass:
      - fstype = [ "ext4", "xfs" ]
      - path = [ "/", "/home" ]

