telegraf_urls: ["https://maas-test.bioinfo.no/influx"]
telegraf_database: usegalaxy
telegraf_username: usegalaxy
telegraf_password:  !vault |
                    $ANSIBLE_VAULT;1.1;AES256
                    39363763616335636262646633343865343866306266656333623064663861333032323237646433
                    6432656663656431613633373536386437336233396266620a373863323864336336613938363338
                    65623963313438653261636433303138656635393561613333616337326137326637333039326236
                    3031623435646531660a623132303430623865616439633833396464343333386138613239306562
                    39663462626430303965663739653062303138643131316339616638653935623031


telegraf_agent_hostname: "{{ inventory_hostname }}"

telegraf_agent_output:
  - type: influxdb
    config:
      - urls = {{ telegraf_urls }}
      - database = "{{ telegraf_database }}"
      - username = "{{ telegraf_username }}"
      - password = "{{ telegraf_password }}"

#example config, needs to be determined later on
telegraf_plugins_default:
  - plugin: cpu
    config:
      - percpu = false
  - plugin: disk
  - plugin: kernel
  - plugin: processes
  - plugin: io
  - plugin: mem
  - plugin: system
  - plugin: swap
  - plugin: net
  - plugin: netstat