#LoadModule proxy_uwsgi_module modules/mod_proxy_uwsgi.so

#Listen 443
<VirtualHost {{inventory_hostname}}:443>
    ServerName {{inventory_hostname}}

    SSLEngine On

    SSLCertificateFile /etc/letsencrypt/live/{{inventory_hostname}}/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{inventory_hostname}}/privkey.pem
    SSLCertificateChainFile /etc/letsencrypt/live/{{inventory_hostname}}/fullchain.pem
    #SSLProtocol all -SSLv2 -SSLv3
    SSLProtocol         all -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS:!3DES
    

    # don't decode encoded slashes in path info
    AllowEncodedSlashes NoDecode
    ProxyRequests Off
    ProxyPreserveHost On

    RewriteEngine On

    <location /rabbitmq/ >
      RewriteRule "^/rabbitmq/(.*)" "/$1" 

      ProxyPass  http://127.0.0.1:15672/ nocanon
      ProxypassReverse http://127.0.0.1:15672/
    </location>

#    <location /jenkins >
#        ProxyPass         http://localhost:4000/jenkins nocanon
#        RequestHeader set X-Forwarded-Proto "https"
#        RequestHeader set X-Forwarded-Port "443"
#    </location>
</VirtualHost>
