//  === Style theme for NeLS Galaxy ===
//
//  Author: Kjetil Klepper   (kjetil.klepper@ntnu.no)
//
//  This theme was based on Galaxy's default "blue" theme but overrides colors to closely resemble the style used by the NeLS portal (version 2)
//
// -------------------------------------------------------


$NeLS_base:        #175D91; // Dark blue base color. Used for masthead background (based on NeLS portal v2) and as a basis for several other derived colors
$NeLS_primary:     #4762A6; // Slightly lighter blue. (Not really sure where this is used)
$NeLS_panel:       #EEEEEE; // Light gray color used as background in NeLS portal v2. Used here for background in Tools and History panels
$NeLS_brand:       #FFFFFF; // Text color used for the brand name and menus in the masthead
$NeLS_panelLabel:  #5788AD; // Text color of section labels in Tools panel (light blue)
$NeLS_darkGray:    #777777; // Background color of the selected "tab" in masthead
$NeLS_middleGray:  #9D9D9D; // Text color of hovered menu items in masthead
$NeLS_dark:        #212529;

// -----------------------------------------------------------------------------------------


// Brand colors
$brand-primary: $NeLS_primary; // 
$brand-secondary: #dee2e6;
$brand-success: #66cc66;
$brand-info: #2077b3;
$brand-warning: #fe7f02;
$brand-danger: #e31a1e;
$brand-light: $NeLS_panel; // #f8f9fa;
$brand-dark: $NeLS_base; // #2c3143;
$brand-toggle: gold;

// Masthead colors
$masthead-color: $brand-dark;
$masthead-text-color: $brand-light;
$masthead-text-active: lighten($brand-light, 15%);
$masthead-text-hover: $brand-toggle;
$masthead-link-color: transparent;
$masthead-link-hover: transparent;
$masthead-link-active: darken($masthead-color, 10%);

// Text colors
$text-color: $NeLS_dark;
$text-muted: lighten($text-color, 10%);
$text-light: lighten($text-color, 20%);
$border-color: lighten($text-color, 60%);

// Light grays for backgrounds
$white: lighten($brand-light, 15%); // body background
$gray-100: $brand-light;
$gray-200: darken($brand-light, 5%); // welcome background
$gray-300: darken($brand-light, 10%);

// Dark grays for foregrounds
$gray-900: $text-color;
$gray-800: $text-muted;
$gray-700: $text-muted;
$gray-600: $text-muted;
$gray-500: $text-muted;
$gray-400: $border-color;
$black: $NeLS_dark;

// These variables don't actually determine the colors in Bootstrap 4, instead
// they use a map called $theme-colors, so here we override that
$theme-colors: ();
$theme-colors: map-merge(
    (
        "primary": $brand-primary,
        "secondary": $brand-secondary,
        "success": $brand-success,
        "danger": $brand-danger,
        "warning": $brand-warning,
        "info": $brand-info,
        "light": $brand-light,
        "dark": $brand-dark
    ),
    $theme-colors
);

// This is the default but we need to use it here.
$theme-color-interval: 5% !default;

// Alerts and states
$alert-bg-level: -12 !default;
$alert-border-level: -6 !default;
$alert-color-level: 16 !default;

// These are not Bootstrap styles but are used extensively in Galaxy. This
// duplicated the way that Bootstrap 4 alerts are derived.
$state-warning-text: theme-color-level("warning", $alert-color-level);
$state-warning-bg: theme-color-level("warning", $alert-bg-level);
$state-warning-border: theme-color-level("warning", $alert-border-level);

$state-danger-text: theme-color-level("danger", $alert-color-level);
$state-danger-bg: theme-color-level("danger", $alert-bg-level);
$state-danger-border: theme-color-level("danger", $alert-border-level);

$state-info-text: theme-color-level("info", $alert-color-level);
$state-info-bg: theme-color-level("info", $alert-bg-level);
$state-info-border: theme-color-level("info", $alert-border-level);

$state-success-text: theme-color-level("success", $alert-color-level);
$state-success-bg: theme-color-level("success", $alert-bg-level);
$state-success-border: theme-color-level("success", $alert-border-level);

// Fonts and sizes
$font-family-sans-serif: "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 0.85rem; // default 1rem

// Header font sizes
$h1-font-size: $font-size-base * 2; // default 2.5
$h2-font-size: $font-size-base * 1.75; // default 2
$h3-font-size: $font-size-base * 1.5; // default 1.75
$h4-font-size: $font-size-base * 1.2; // default 1.5 // used by tool section titles (i.e. tool categories in tools panel)
$h5-font-size: $font-size-base; // default 1.25
$h6-font-size: $font-size-base * 0.85; // default 1

// Increase contrast of dropdown items
$dropdown-link-hover-color: $brand-light;
$dropdown-link-hover-bg: $brand-primary;

// Color of input elements
$input-color: $text-color;
$input-color-placeholder: $text-muted;

// Galaxy Variables (not used by bootstrap)
$body-bg: $white;

// Masthead
$masthead-height: 3rem;

// Side panels
$panel-bg-color: $brand-light;
$panel-text-color: $text-color;
$panel-header-text-color: $text-color;
$panel-bg-header-color: $panel-bg-color;
$panel-footer-bg-color: $panel-bg-color;
$panel-message-height: 2.5rem;
$panel-width: 18rem;
$panel_header_height: 2.5rem;
$panel_footer_height: 25px;

// Portlets
$portlet-bg-color: $gray-200;

// Layout
$layout_top_padding: 0px;
$layout-border-color: $gray-900;
$layout-border: none;

// Borders
$border-radius-base: 0.1875rem;
$border-radius-large: 0.3125rem;
$border-radius-extralarge: 1rem;
$border-default: 1px solid $border-color;

// Buttons
$btn-default-color: $text-color;
$btn-default-bg: $gray-200;
$btn-default-border: $border-color;

// Forms
$form-heading-bg: $panel-bg-color;
$form-border: darken($form-heading-bg, 20%);

// Table
$table-heading-bg: $panel-bg-color;
$table-bg-accent: darken($panel-bg-color, 5%);
$table-border-color: $border-color;

// Additional state colors
$state-default-bg: $gray-200;
$state-default-border: $border-color;
$state-paused-bg: lighten($brand-info, 50%);
$state-running-bg: lighten($brand-warning, 40%);
$state-running-border: $border-color;

// Workflow editor
$workflow-editor-bg: $white;
$workflow-overview-bg: $NeLS_panel;
$workflow-editor-grid-size: 0.7rem;
$workflow-editor-grid-color: lighten($brand-primary, 65%);
$workflow-node-width: 10rem;


// Margins
$spacer: 1rem;
$margin-v: $spacer * 1.5;
$margin-h: $spacer;


// -----------------------------------------------------------

#masthead {
    // NeLS logo and brand
    .navbar-brand {
        font-family: verdana, sans-serif !important;
        line-height: 1 !important;
        .navbar-brand-image {
            // margin-left:   8px !important;
            width: 100px !important;
            height: 25px !important;
        }
    }

    // Menu items in masthead (Analyze Data, Workflows, Shared Data...)
    .navbar-nav > li > a {
        color: $NeLS_brand !important;
      &:hover {
        color: $NeLS_middleGray !important;
      }
    }

    // Set the font used for masthead menu items to the same font that is used by the NeLS portal.
    // The font is set on each individual menu item in order to avoid conflicts with
    // the FontAwesome font that is used for some of the other masthead elements (like the scratchbook icon).
    // The NeLS Portal actually has two different fonts in the masthead (Arial and Helvetica Neue), but here we only use one
    .navbar-nav  {
       #analysis, #workflow, #visualization, #shared, #admin, #help, #user {
          font-family: Arial, sans-serif;
          font-size: 1.1em !important;
          > a {
              padding: 13px 15px !important;  // needed in order to ensure correct height of menu items (to get the background right)
          } 
       }
    }


    // Background box for selected menu item "tab" in masthead
    .navbar-nav > .active > a {
       color: $NeLS_brand;
       background-color: $NeLS_darkGray !important;
       box-shadow: inset 0px 3px 9px 0px rgba(0, 0, 0, 0.25) !important;
     &:hover {
        color: $NeLS_brand !important; // don't change the color when hovering already selected menu items (according to NeLS portal style)
      }
    }
}


// decrease spacing between lines in tools panel
.toolMenu {
    line-height: 1.3;
}

// render the labels in the tool panel in a blue color to make them stand out better against the other section headers
.toolPanelLabel {
    color: $NeLS_panelLabel !important;
}

// Add drop shadow to all dropdown menus. This is really just eye candy
.dropdown-menu {
    box-shadow: 0 6px 12px rgba(0,0,0,0.175) !important;
}

// Background color of hovered items in dropdown menus. (This is not marked as "!important" since that would actually make header-items in the menus selectable also)
.dropdown-item:hover {
    background-color: $NeLS_base;
}

