[Unit]
Description={{ toolshed_name }}
After=network.target
After=time-sync.target

[Service]
UMask=022
Type=simple
User={{ toolshed_user_name }}
Group={{ toolshed_user_group }}
WorkingDirectory={{ galaxy_toolshed_server_dir }}
TimeoutStartSec=10
ExecStart={{ galaxy_toolshed_venv_dir }}/bin/uwsgi --yaml {{ galaxy_toolshed_config_file }} --stats 127.0.0.1:4020
Environment=HOME={{ galaxy_root }} VIRTUAL_ENV={{ galaxy_toolshed_venv_dir }} PATH={{ galaxy_toolshed_venv_dir }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin DOCUTILSCONFIG= PYTHONPATH={{ galaxy_dynamic_job_rules_dir }} {{ galaxy_systemd_zergling_env }}
MemoryLimit={{ galaxy_systemd_memory_limit_toolshed }}G
Restart=always

MemoryAccounting=yes
CPUAccounting=yes
BlockIOAccounting=yes

[Install]
WantedBy=multi-user.target
