domain: usegalaxy.no
env: production

galaxy_commit_id: release_21.09

galaxy_database: "usegalaxy"

job_working_directory: "/data/part0/tmp/jobs"

telegraf_urls: ["https://nels.bioinfo.no/maas-api/"]

telegraf_database: usegalaxy
telegraf_username: usegalaxy

# telegraf outputs configs for MAAS-API
telegraf_urls: ["https://nels.bioinfo.no/maas-api/"]
telegraf_database: usegalaxy
telegraf_username: usegalaxy
# general telegraf outputs configuration
telegraf:
  MAAS:
      urls: "{{ telegraf_urls }}"
      type: influxdb
      database: "{{ telegraf_database }}"
      username: "{{ telegraf_username }}"
      password: "{{ telegraf_password }}"
  si_elixir_no:
      urls: ["https://metrics.si.elixir.no"]
      type: influxdb_v2
      bucket: elixir.no
      organization: elixir.no
      token: "o-2-CcegJ6Rx0tE3YuAPqc4otJmyh_r_9UOMiQdD39y-D_6ve6DNGkoHYUolXhiYEh80g6ZHFdihws6_-rYBQA=="



matomo_host: //nels.bioinfo.no/maas-analytics/
matomo_id: 1

cvmfs_quota_limit: 200000
cvmfs_keys:
  - path: "/etc/cvmfs/keys/{{ galaxy_host }}/data.{{ galaxy_host }}.pub"
    key: |
      -----BEGIN PUBLIC KEY-----
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqFrp2sfBG1xa6w5FkffT
      eiTvGYzeRa2O3wOYDs7uF39s10slLC1O7vsTmxD8aGCTXG9cBpqWea3dim/SwMwW
      UgUP7n8RsC9MYoFBRJGNFynLD6LTKxANllUq98CFxsGhMOvwy+3gcBbhHuUaKVzU
      C28fuhIK1XDWtZkKMkFqBfNVo185u88Jlu8Px+l7BwXmTunDRmUjW0itESezHSje
      2TsxzBZT94RdxW1hp8Tgs7AXUaW/oYSBd0uBt5Rjl7Z/L0Bf3eKarIbrwG3QZZMQ
      Tiru+uZD2LgxbDiH/kG8kIKxlVL6RangpND1VCJSf/DRGzByspq/uN5Lpr/8fZfK
      VQIDAQAB
      -----END PUBLIC KEY-----

# Job Conf
# Adding Pulsar hosts: https://pulsar-network.readthedocs.io/en/latest/galaxy.html
galaxy_jobconf:
  plugin_workers: 8
  handlers:
    count: "{{ galaxy_handler_count }}"
    assign_with: db-skip-locked
    max_grab: 8
  plugins:
    #- id: drmaa
    #load: galaxy.jobs.runners.drmaa:DRMAAJobRunner
    #workers: 3
    # These live on the pythonpath
    - id: dynamic
      params:
        rules_module: "usegalaxy"
    - id: slurm
      load: galaxy.jobs.runners.slurm:SlurmJobRunner
    - id: local
      load: galaxy.jobs.runners.local:LocalJobRunner
    - id: pulsar_embedded
      load: galaxy.jobs.runners.pulsar:PulsarEmbeddedJobRunner
    - id: pulsar_no_nmbu
      load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
      params:
        amqp_url: "amqp://nmbu_galaxy:{{ rabbitmq_password_galaxy_nmbu }}@{{ pulsar_rabbitmq_proxy }}//pulsar_nmbu_orion?ssl=1"
        galaxy_url: "https://{{ galaxy_host }}"
        manager: _default_
        amqp_acknowledge: True
        amqp_ack_republish_time: 300
        amqp_consumer_timeout: 2.0
        amqp_publish_retry: True
        amqp_publish_retry_max_retries: 60
  default_destination: gateway_1x
  destinations:
    - id: local
      runner: local
    - id: slurm
      runner: slurm
      params:
        tmp_dir: "True"
    # Gateways
    - id: gateway_singlerun
      runner: dynamic
      params:
        type: python
        function: gateway
    - id: gateway_1x
      runner: dynamic
      params:
        type: python
        function: gateway_1x
    - id: gateway_1_5x
      runner: dynamic
      params:
        type: python
        function: gateway_1_5x
    - id: gateway_2x
      runner: dynamic
      params:
        type: python
        function: gateway_2x
  tools:
    - id: upload1
      destination: gateway_singlerun
  limits:
    - type: "walltime"
      value: "148:00:00"
    - type: "output_size"
      value: "300GB"
    - type: "registered_user_concurrent_jobs"
      value: "500"
    - type: "anonymous_user_concurrent_jobs"
      value: "4"
    - type: "destination_user_concurrent_jobs"
      id: "sh_fdid_slurm_docker_ie_interactive"
      value: "10"
    - type: "destination_user_concurrent_jobs"
      id: "sh_fdid_slurm_intensive_jobs"
      value: "10"

# NeLS prod settings.
nels_url: https://nels.bioinfo.no
nels_storage_url: "{{nels_url}}/storage2"
nels_storage_api_url: "{{nels_url}}/storage2"
nels_storage_import_tool_dir: "{{ galaxy_server_dir }}/tools/data_source"
nels_storage_export_tool_dir: "{{ galaxy_server_dir }}/tools/data_destination"
nels_storage_config_dir: "{{ galaxy_config['galaxy']['tool_data_path'] }}"
nels_storage_tool_conf_dir: "{{ galaxy_server_dir }}/config"
nels_user_portal_url: "{{nels_url}}/welcome.xhtml"
