type: database
path_prefix: /galaxy
# Encryption keys must be valid fernet keys
# To generate a valid key:
#
# Use the ascii string value as a key
# For more details, see: https://cryptography.io/en/latest/fernet/#
encryption_keys:
  {{ vault_database_vault_encryption_keys | to_nice_yaml(indent=2) | indent(2) }}
